.button-container {
    display: flex; /* Utiliza flexbox para alinear los elementos */
  }
  
  .button-container button {
    margin-right: 10px; /* Agrega un espacio entre los botones */
  }
  
  /* Opcional: alinea los botones hacia la izquierda */
  .button-container {
    justify-content: flex-end;
  }

  .table-row-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  .badge-celestito {
    background-color: #CFE2FF;
    color: #212529; /* Para que el texto sea visible sobre el fondo celeste */
    font-size: 1.2rem; /* Tamaño del texto más pequeño */
    padding: 0.3em 0.6em; /* Tamaño del badge */
    margin-left: 10px; /* Espacio a la izquierda del badge */
    vertical-align: middle; /* Alineación vertical al medio del título */
  }

  .badge-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .margin-top-20 {
    margin-top: 15px;
  }
  .table-hover{
    font-size: 0.95em;
    text-align: center;
    border: 1px solid #333; /* Add a fine border */
    margin-top: 10px; /* Add some space above the details table */
    border-radius: 5px; /* Optional: Add rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a slight shadow */
  }
  .table-hover td, th {
    border: 1px solid #333; /* Add a fine border */
  }
  .dm-sans-titulos {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  .btn-custom {
    background-color: #CFE2FF;
    border: 2px solid #AFCDFE; /* Agrega el borde de manera constante */
    color: #000; /* Color del texto */
    transition: background-color 0.3s, border-color 0.3s; /* Transición suave */
  }
  
  .btn-custom:hover {
    background-color: #B8D5FF; /* Un poco más oscuro en hover */
    border-color: #AFCDFE; /* Mantén el borde del mismo color */
  }
  
  .btn-custom:active {
    background-color: #AFCDFE; /* Un tono más oscuro para el botón activo */
    border-color: #7FB3FF; /* Un borde un poco más oscuro para el activo */
    color: #000;
  }