<div class="container mt-5">
  <h3 class="form-title dm-sans-titulos text-center">Cargar nuevo producto</h3>
  <div class="form-container">
    <form [formGroup]="productoForm" (ngSubmit)="onSubmit()">
      <div class="mb-3 form-group">
        <label for="codigo">Código de barras:</label>
        <input type="text" class="form-control" id="codigo" formControlName="codigo" />
        <div *ngIf="productoForm.controls['codigo'].invalid && productoForm.controls['codigo'].touched" class="text-danger">
          Código de barras es obligatorio
        </div>
      </div>
      <div class="mb-3 form-group">
        <label for="tipo">Tipo:</label>
        <select class="form-control" id="tipo" formControlName="tipo">
          <option value="">Seleccione un tipo</option>
          <option value="Elevador">Elevador</option>
          <option value="Balanceadora">Balanceadora</option>
          <option value="Desenllantadora">Desenllantadora</option>
          <option value="Cabina_de_pintura">Cabina de pintura</option>
          <option value="Lampara_de_secado">Lámpara de secado</option>
        </select>
        <div *ngIf="productoForm.controls['tipo'].invalid && productoForm.controls['tipo'].touched" class="text-danger">
          Tipo es obligatorio
        </div>
      </div>
      <div class="mb-3 form-group">
        <label for="marca">Marca:</label>
        <input type="text" class="form-control" id="marca" formControlName="marca" />
        <div *ngIf="productoForm.controls['marca'].invalid && productoForm.controls['marca'].touched" class="text-danger">
          Marca es obligatoria
        </div>
      </div>
      <div class="mb-3 form-group">
        <label for="modelo">Modelo:</label>
        <input type="text" class="form-control" id="modelo" formControlName="modelo" />
        <div *ngIf="productoForm.controls['modelo'].invalid && productoForm.controls['modelo'].touched" class="text-danger">
          Modelo es obligatorio
        </div>
      </div>
      <div class="mb-3 form-group">
        <label for="ubicacion">Ubicación:</label>
        <select class="form-control" id="ubicacion" formControlName="ubicacion">
          <option value="">Seleccione una ubicación</option>
          <option value="Deposito Central">Depósito Central</option>
          <option value="Deposito Malvin">Depósito Malvin</option>
          <option value="Deposito Belvedere">Depósito Belvedere</option>
        </select>
        <div *ngIf="productoForm.controls['ubicacion'].invalid && productoForm.controls['ubicacion'].touched" class="text-danger">
          Ubicación es obligatoria
        </div>
      </div>
      <div class="mb-3 form-group">
        <label for="proveedor">Proveedor:</label>
        <input type="text" class="form-control" id="proveedor" formControlName="proveedor" />
        <div *ngIf="productoForm.controls['proveedor'].invalid && productoForm.controls['proveedor'].touched" class="text-danger">
          Proveedor es obligatorio
        </div>
      </div>
      <div class="mb-3 form-group">
        <label for="precio">Precio:</label>
        <div class="input-group">
          <span class="input-group-text">USD</span>
          <input type="number" class="form-control" id="precio" formControlName="precio" min="0" />
        </div>
        <div *ngIf="productoForm.controls['precio'].invalid && productoForm.controls['precio'].touched" class="text-danger">
          Precio es obligatorio y debe ser mayor o igual a 0
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary" [disabled]="productoForm.invalid">Cargar producto</button>
      </div>
    </form>
  </div>
</div>
