<div class="container mt-5">
  <h3 class="form-title dm-sans-titulos text-center">Agregar stock de un producto</h3>
  <div *ngIf="showSuccessMessage" class="alert alert-success" role="alert">
    {{ successMessage }}
  </div>
  <div class="form-container">
    <form [formGroup]="productoForm" (ngSubmit)="onSubmit()">
      <div class="mb-3 form-group">
        <label for="Codigo">Código de barras:</label>
        <input type="number" class="form-control" id="Codigo" formControlName="Codigo" />
        <div *ngIf="productoForm.controls['Codigo'].invalid && productoForm.controls['Codigo'].touched" class="text-danger">
          Este campo es obligatorio
        </div>
      </div>
      <div class="mb-3 form-group">
        <label for="Modelo">Modelo:</label>
        <select class="form-control" id="Modelo" formControlName="Modelo">
          <option value="">Seleccione un Modelo:</option>
          <option value="B400">B400</option>
          <option value="B600">B600</option>
          <option value="B890">B890</option>
          <option value="C130">C130</option>
          <option value="C400">C400</option>
          <option value="D780">D780</option>
          <option value="E200">E200</option>
          <option value="E550">E550</option>
          <option value="E680">E680</option>
          <option value="L800">L800</option>
          <option value="L780">L780</option>
          <option value="L900">L900</option>
        </select>
      </div>
      <div class="mb-3 form-group">
        <label for="Ubicacion">Ubicación:</label>
        <select class="form-control" id="Ubicacion" formControlName="Ubicacion">
          <option value="">Seleccione una ubicación</option>
          <option value="Deposito Central">Depósito Central</option>
          <option value="Deposito Malvin">Depósito Malvin</option>
          <option value="Deposito Belvedere">Depósito Belvedere</option>
        </select>
        <div *ngIf="productoForm.controls['Ubicacion'].invalid && productoForm.controls['Ubicacion'].touched" class="text-danger">
          Este campo es obligatorio
        </div>
      </div>
      <div class="mb-3 form-group">
        <label for="Proveedor">Proveedor:</label>
        <input type="text" class="form-control" id="Proveedor" formControlName="Proveedor" />
        <div *ngIf="productoForm.controls['Proveedor'].invalid && productoForm.controls['Proveedor'].touched" class="text-danger">
          Este campo es obligatorio
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-custom" [disabled]="productoForm.invalid">Cargar producto</button>
      </div>
    </form>
  </div>
</div>
