.container {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}
.form-title {
margin-bottom: 20px;
}
.form-group label {
font-weight: 500;
}
.btn-primary {
background-color: #71a6f5;
border-color: #2788f1;
}
.btn-primary:hover {
background-color: #2788f1;
border-color: #2788f1;
}
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 1000

.dm-sans-titulos {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.form-container {
    display: flex;
    justify-content: center;
}
.form-container form {
    max-width: 700px;
    width: 100%;
}
.badges-container {
    display: flex;
    flex-wrap: wrap;
}

.badge {
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: #CFE2FF;
    color:#000000;
}

.badge .badge-close {
    cursor: pointer;
    margin-left: 5px;
    color: #000000;
}
.btn-custom {
    background-color: #CFE2FF;
    border: 2px solid #AFCDFE; /* Agrega el borde de manera constante */
    color: #000; /* Color del texto */
    transition: background-color 0.3s, border-color 0.3s; /* Transición suave */
  }
  
  .btn-custom:hover {
    background-color: #B8D5FF; /* Un poco más oscuro en hover */
    border-color: #AFCDFE; /* Mantén el borde del mismo color */
  }

  .btn-custom:active {
    background-color: #AFCDFE; /* Un tono más oscuro para el botón activo */
    border-color: #7FB3FF; /* Un borde un poco más oscuro para el activo */
    color: #000;
  }
  .btn-custom:disabled {
    background-color: #CFE2FF; /* Mantén el color celeste */
    border-color: #AFCDFE;
    color: #888; /* Puedes ajustar el color del texto si es necesario */
    opacity: 0.65; /* Ajusta la opacidad para diferenciar visualmente los botones deshabilitados */
    cursor: not-allowed; /* Cambia el cursor para indicar que está deshabilitado */
  }
  .btn-pastel {
    background-color: #e85f61; /* Cambia este valor al tono de rojo pastel deseado */
    border-color: #e85f61; /* Cambia este valor si quieres personalizar el color del borde */
  }